<h2>Change Account Key?</h2>
<p>Changing the account key will render all of your current request strings invalid.
  Only select continue if you really <em>have</em> to update your account key!</p>
<button ng-click="confirmNewAccountKey()" >Continue</button>
<a sref="">Cancel</a>